<article class="cart-item">
  <div class="cart-item-info">
    <img src="<%= item.product.imageURL %>" alt="<%= item.product.title %>">
    <h2><%= item.product.title %></h2>
    <p><%= item.totalPrice %> 원 <span class="cart-item-price">(<%= item.product.price %> 원)</span></p>
  </div>
  <form class="cart-item-management" data-pid="<%= item.product.id %>" data-token="<%= locals.csrfToken %>">
    <input type="number" required value="<%= item.quantity %>">
    <button>변경</button>
  </form>
</article>