<%- include("../../shared/includes/head", {pageTitle: "Cart"}) %>
<link rel="stylesheet" href="/css/cart.css">
<script src="/js/update-cart.js" defer></script>
</head>

<body>
<%- include("../../shared/includes/header") %>
<main>
  <h1>장바구니</h1>
  <ul id="cart-list">
    <% for (let item of locals.cart.items) { %>
    <li>
      <%- include("includes/cart-item", {item: item}) %>
    </li>
    <% } %>
  </ul>
  <div id="cart-total">
    <p>총 가격: <span id="cart-total-price"><%= locals.cart.totalPrice %></span> 원</p>
    <% if (locals.isAuth) { %>
      <form action="/orders" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        <button class="btn btn-alt">구매하기</button>
      </form>
    <% } else { %>
      <p id="cart-total-fallback">구매하기 위해서는 로그인 해주세요.</p>
    <% } %>
  </div>
</main>
<%- include("../../shared/includes/footer") %>